:root {
    --color1: #8ECAE6;
    --color2: #219ebc;
    --color3: #023047;
    --color4: #FFB703;
    --color5: #FB8500;
    --color6: #F0E4DA;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

form {
    font-family: 'Roboto Serif';
    width: 50%;
    top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px auto;
    gap: 2px;

}


h1 {
    font-weight: 50;
    margin-top: 0 auto;
    text-align: center;
}

body {
    font-family: 'Roboto Serif';
    background-color: var(--color6);

}


input {
    border: none;
    outline: none
}

#message {
    border: none;
    outline: none;
}

#Envoyer {
    font-family: 'Roboto Serif';
    color: white;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
    background-color: var(--color5);
    width: 100%;
    margin-left: 0px;
    margin-top: 10px;
}

@media screen and (min-width:600px) {

    :root {
        --color1: #8ECAE6;
        --color2: #219ebc;
        --color3: #023047;
        --color4: #FFB703;
        --color5: #FB8500;
        --color6: #F0E4DA;
    }

    body {
        background-color: var(--color6);

    }

    .hero {
        background-image: url(../Images/form-img/hero-img.jpeg);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 200px;
    }


    form {
        margin-top: 100px;
        margin-bottom: 100px;
        background-color: white;
        border-radius: 15px;
        height: 450px;
        padding: 20px 40px;
        width: 60%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 5px;

    }

    h1 {
        font-family: 'Roboto Serif';
        font-weight: 50;
        font-weight: lighter;
        margin-bottom: 25px;
    }

    #Envoyer {
        width: 180px;
        margin-left: 210px;
        margin-right: 20%;
        position: absolute;
        top: 435px;
        right: -20%;
        border: 0 solid;
        border-radius: 20px;
        box-shadow: 5px 5px 5px rgb(186, 186, 186);
        text-shadow: none;
        font-family: 'Roboto Serif';
        color: white;
        background-color: orange;
    }

    #name,
    #email,
    #message {
        font-family: 'Roboto Serif';
        border-bottom: 1px solid;
    }

    #name,
    #email {
        line-height: 25px;

    }

    textearea {
        padding-top: 13px;
        padding-bottom: 13px;
        min-height: 115px;
    }
}