:root {
    --color1: #8ECAE6;
    --color2: #219ebc;
    --color3: #023047;
    --color4: #FFB703;
    --color5: #FB8500;
    --color6: #F0E4DA;
}

form {
    font-family: 'Roboto';
    width: 50%;
    top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    gap: 2px;

}

h1 {
    font-weight: 50;
    margin-top: 30%;
    text-align: center;
}

body {
    font-family: 'Roboto';
    background-color: var(--color6);

}

input {
    border: none;
    outline: none
}

#message {
    border: none;
    outline: none;
}

#Envoyer {
    font-family: 'Roboto';
    color: white;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
    background-color: var(--color5);
    width: 100%;
    margin-left: 0px;
    margin-top: 10px;
}