* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


header {
    height: 6em;
    background-color: rgb(255, 255, 255);

}  

.navbar {
    position: absolute;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    
}



.navbar a {
    color: black;
}

.navbar .logo{
    height: 4em;
    margin: -15px;

}


.navbar .nav-links ul {
    display: flex;

}

.navbar .nav-links ul li {
    margin: 10px 25px;
}

.navbar .menu-burger{
    display: none;
    position: absolute;
    top: 35px;
    right: 50px;
    width: 35px;
}

hr {
    display: none;
}


/* Animation sur les li */

.action-button:hover {
    
    transition: all 0.5s ease;
   
}

.nav-links li {
    position: relative;
  }
  
  .nav-links li::before {
      content: '';
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 2px;
      border-radius: 4px;
      background-color: #0000002c;
      bottom: 0;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
    }
  
    .nav-links li:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }


@media screen and (max-width: 770px) {
    


    .navbar{
        padding: 0;
    }

    .navbar .logo{
        position: absolute;
        top: 31px;
        left: 30px;
    }
    
    .navbar .menu-burger{
        display: block;
        top: 30px;
    }

/* Animation du menu burger */

    header .nav-links.menu-burger{
        top: 65px;
        left: 100%;
        position: absolute;
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        border-radius: 0% 0% 5% 5%;
        z-index: 1;
    }

    header .nav-links{
        position: absolute;
        left: -1000px;
        top: 65px;
        height: 50vh;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.076);
        display: flex;
        justify-content: center;
        align-items: center; 
        z-index: 1; 
        transition: all 1s ease; 
    }

    .nav-links{
        transition: all .5s ease;
    }

    .nav-links.mobile-menu{
        margin-left: 0;
    }

    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li {
        margin: 25px 0;
        letter-spacing: 5px;
    }

    
    hr {
        display: flex;
        width: 150%;
        margin-top: 0.5em;
        border: 1px solid;
        color: rgba(0, 0, 0, 0.242);
    }

/* pour désativer l'animation de li */


}