:root {
    --backgroundColor: rgb(240, 228, 218);
    --cardOddBackground: rgba(251, 133, 0, .25);
    --cardEvenBackground: rgba(255, 183, 3, .4);
    --buttonBackgroundColor: rgb(251, 133, 0);

    --fontPrimary: 'Roboto Serif', serif;
    --fontSecondary: 'Roboto', sans-serif;
} 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body .desktop-title-wrapper, body .desktop-img-header {
    display: none;
}


body {
    background-color: var(--backgroundColor);
    font-family: var(--fontSecondary);
}

body .title-wrapper {
    height: 20vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

body .title-wrapper .title {
    font-family: var(--fontPrimary);
    font-size: 36px;

    letter-spacing: 8px;
}

body .cards {
    width: 100%;
    margin-bottom: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

body .cards .card {
    width: 90%;
    min-height: 70vh;

    background-color: var(--cardOddBackground);
    box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, .25);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

body .cards .lastCard {
    justify-content: space-around;
}

body .cards .card h2 {
    margin-top: 30px;
    letter-spacing: 3px;
}

body .cards .card:nth-of-type(even) {
    background-color: var(--cardEvenBackground);
}

body .cards .card .img-container {
    margin-top: 2%;
    width: 85%;
    border-radius: 50%;

    background-size: cover;
}

body .cards .card .img-container::after {
    content: '';
    padding-bottom: 90%;

    display: block;
}

body .cards .card .img-coworking {
    background-image: url(../Images/index-img/coworking-img.jpeg);
}

body .cards .card .img-restauration {
    background-image: url(../Images/index-img/restauration-img.jpg);
}

body .cards .card .img-bienEtre {
    background-image: url(../Images/index-img/bien-etre-img.jpg);
    background-position: right 50% bottom 35%;
}

body .cards .card p { 
    width: 80%;
    min-height: 100px;
    margin-bottom: 20px;

    word-spacing: 5px;
    text-align: center;
}

body .cards .card .btn {
    border: none;

    background-color: var(--buttonBackgroundColor);

    box-shadow: 3px 3px 3px rgba(0, 0, 0, .25);
    border-radius: 15px;

    width: 80%;
    height: 30px;
    margin-bottom: 9%;
}

body .cards .card .btn a {
    text-decoration: none;
    color: white;
    letter-spacing: 8px;
}

/*=========================================== MEDIA Q /*===========================================*/
@media screen and (min-width: 770px) {

    body .title-wrapper {
        display: none;
    }

    body .cards .lastCard .img-contact {
        display: none;
    }
    
    body .desktop-img-header {
        background-image: url(../Images/index-img/hero-img.jpeg);
        background-size: cover;
        background-position: right 50% bottom 35%;

        display: block;
        height: 40vh;
    }
    
    body .desktop-title-wrapper {
        width: 90%;
        margin: 50px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    body .desktop-title-wrapper .img-owners-wrapper {

        display: flex;
    }

    body .desktop-title-wrapper .img-owners-wrapper img {
        width: 100px;
    }

    
    body .cards {
        width: 100%;
        
        display: flex;
        flex-direction: column;
        gap: 150px;
    }
    
    body .cards .card {
        position: relative;

        min-height: 30vh;
        width: 60%;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    body .cards .card-withImage:nth-of-type(odd) {
        align-self: flex-end;
        margin-right: 100px;
        padding-left: 100px;
    }

    body .cards .card-withImage:nth-of-type(even) {
        align-self: flex-start;
        margin-left: 100px;
        padding-right: 100px;
    }

    body .cards .lastCard {
        min-height: 40vh;
        width: 90%;
        gap: 10px;
    }
    
    body .cards .card .img-container {
        position: absolute;
        top: calc(50% - 150px);
        width: 300px;
        border-radius: 50%;
    }

    body .cards .card:nth-of-type(odd) .img-container {
        left: -200px;

        outline: 10px solid rgba(251, 133, 0, .75);
        outline-offset: -10px;
    }

    body .cards .card:nth-of-type(even) .img-container {
        right: -200px;
        
        outline: 10px solid rgba(255, 183, 3, .75);
        outline-offset: -10px;
        
    }
    
    body .cards .lastCard { 
        text-align: center;
    }

    body .cards .card p { 
        text-align: left;
    }

    body .cards .lastCard p { 
        margin-bottom: 20px;
    }
    
    body .cards .card .btn {
        position: absolute;
        margin: 0;

        height: 20px;
        width: 250px;

        bottom: -10px;
    }

    body .cards .card-withImage:nth-of-type(odd) .btn {
        right: 70px;
    }

    body .cards .card-withImage:nth-of-type(even) .btn {
        left: 70px;
    }

    body .cards .lastCard .btn {
        right: 70px;
    }


}
